@import "http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Roboto+Condensed:300,400,700|Montserrat:400,700";


* {
    font-family: sans-serif;
    font-family:'Lato',sans-serif;
}
p.entradilla {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}
.text-uppercase {
    text-transform: uppercase !important;
}

a.boton {
    background: #34558C;
    -webkit-border-radius: 	5px;
    -moz-border-radius: 	5px;
    -o-border-radius:		5px;
    border-radius: 			5px;
    padding: 5px 10px;
    color: white !important;
    text-decoration: none !important;
}



.descarga {
    display: inline-block;
    background: transparent;
    line-height: 42px;
    width: 200px;
    border: 2px solid #32528d;
    color: #32528d;
    font-size: 12px;
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
       -moz-transition: background 0.3s ease, color 0.3s ease;
         -o-transition: background 0.3s ease, color 0.3s ease;
            transition: background 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 23px;
       -moz-border-radius: 23px;
            border-radius: 23px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
