@font-face {
  font-family: "GT-America";
  src: url("https://selfcoaching360.com/cdn/fonts/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "GT-America";
    src: url("https://selfcoaching360.com/cdn/fonts/GT-America-Standard-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GT-America";
    src: url("https://selfcoaching360.com/cdn/fonts/GT-America-Expanded-Black.ttf") format("truetype");
    font-stretch: expanded;
}

body {
    font-family: 'GT-America', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    /* overscroll-behavior-y: none;
    overflow-x: hidden; */
}
@media (min-width: 1680px) {
    body {
        font-size: 19px;
        line-height: 1.3em;
    }
}
@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Standard-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Expanded-Black.ttf") format("truetype");
    font-stretch: expanded;
}

/* @font-face {
  font-family: "GT-America";
  src: url("GT-America-Bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("GT-America-BoldItalic-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
 */    
 
    #grid {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        pointer-events: none;
        display: block;
    }
    #grid * {
        height: 100%;
    }
    #grid .col-md-1 div {
        background-color: rgba(0,0,0,.1);
    }
     
 
body {
    font-family: 'GT-America', sans-serif !important;
    line-height: 1.3em !important;
    font-size: 14px !important;
    font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
    /* overscroll-behavior-y: none !important;
    overflow-x: hidden !important; */
}
@media (min-width: 1680px) {
    body {
        font-size: 19px !important;
        line-height: 1.3em !important;
    }
}

h1 {
    font-family: 'GT-America', sans-serif !important;
    font-stretch: expanded;
    font-size: 65px !important;
    line-height: 1.1em !important;
}
h2 {
    font-family: 'GT-America', sans-serif !important;
    font-stretch: expanded;
    font-size: 40px !important;
    line-height: 1.1em !important;
}
h3 {
    font-family: 'GT-America', sans-serif !important;
    font-size: 35px !important;
    line-height: 1.1em !important;
}
h4 {
    font-family: 'GT-America', sans-serif !important;
    font-size: 30px !important;
    line-height: 1.1em !important;
}
h5 {
    font-family: 'GT-America', sans-serif !important;
    font-size: 25px !important;
    line-height: 1.1em !important;
}
h6 {
    font-family: 'GT-America', sans-serif !important;
    font-size: 20px !important;
    line-height: 1.1em !important;
}

@media (max-width: 920px) {
  h1 {
    font-size: 25px !important;
  }
  h2 {
    font-size: 22px !important;
  }
}
  


.btn {
    font-family: 'GT-America', sans-serif !important;
    font-stretch: expanded;
}


.img-fluid.force-width {
    width: 100% !important;
    height: auto;
}

form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0px;
}
    .fondo-1 form .form-control {
        border-bottom: 2px solid #43D62D !important;
    }
    .fondo-2 form .form-control {
        border-bottom: 2px solid #3EA6D9 !important;
    }
    .fondo-3 form .form-control {
        border-bottom: 2px solid #F36900 !important;
    }

    .fondo-1 .btn {
        color: #43D62D !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    .fondo-2 .btn {
        color: #3EA6D9 !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    .fondo-3 .btn {
        color: #F36900 !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .fondo-1 form a {
        color: #43D62D !important;
    }
    .fondo-2 form a {
        color: #3EA6D9 !important;
    }
    .fondo-3 form a {
        color: #F36900 !important;
    }
    

.titular-grande {
    line-height: 1.2em;
    font-size: 30px;
    font-weight: bold;
}
.expanded {
    font-stretch: expanded;
}
.texto-grande {
    font-stretch: expanded;
    line-height: 1.2em;
    font-size: 25px;
}
    .titular-grande.nombre {
        font-stretch: expanded;
        line-height: 1.2em;
        font-size: 45px;
    }
    .titular-grande.apellidos {
        font-stretch: expanded;
        line-height: 1em;
        font-size: 35px;
    }

    
    
.margen-slides {
    padding-bottom: 30px;
}
.numero {
    font-size: 60px;
    line-height: 1.4em;
    display: block;
}

    @media (min-width: 992px) {
        .titular-grande {
            line-height: 1.2em;
            font-size: 30px;
        }
        .titular-grande.xl {
            font-size: 50px;
            line-height: 1.2em;
        }
        .texto-grande {
            line-height: 1.2em;
            font-size: 38px;
        }
        .numero {
            font-size: 60px;
            line-height: 1.4em;
            display: block;
        }        
    }
    @media (min-width: 1680px) {
        .titular-grande {
            line-height: 1.2em;
            font-size: 40px;
        }
        .titular-grande.nombre {
            font-stretch: expanded;
            line-height: 1.2em;
            font-size: 65px;
        }
        .titular-grande.apellidos {
            line-height: 1em;
            margin-bottom: 40px;
            font-size: 40px;
        }
        .titular-grande.xl {
            font-size: 65px;
            line-height: 1.1em;
        }
        .texto-grande {
            font-stretch: expanded;
            line-height: 1.2em;
            font-size: 60px;
        }
        .numero {
            font-size: 110px;
            line-height: 1em;
            margin-top: 0;
            margin-bottom: 40px;
            display: block;
        }        
    }
    


.destacado {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1em;
}
    .destacado span {
        font-weight: normal;
    }
    @media (min-width: 992px) {
        #cabecera .destacado {
            font-size: 20px;
        }
    }
    @media (min-width: 1680px) {
        .destacado {
            font-weight: bold;
            font-size: 30px;
            line-height: 1.1em;
        }
    }
