@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Standard-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Expanded-Black.ttf") format("truetype");
    font-stretch: expanded;
}

/* @font-face {
    font-family: "GT-America";
    src: url("GT-America-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GT-America";
    src: url("GT-America-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
 */    
 
    #grid {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        pointer-events: none;
        display: block;
    }
    #grid * {
        height: 100%;
    }
    #grid .col-md-1 div {
        background-color: rgba(0,0,0,.1);
    }
     

#hablamos {
    position: fixed;
    bottom: 0px;
    right:  20px;
    z-index: 99999999;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 0 1px 10px #000;
    font-weight: bold;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: .5s all ease-in-out;
    /* background-color: white; */
    background-image: url(../img/sobre.svg);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    padding-left: 50px;
    background-size: 30px;
}

#hablamos.on {
/* #hablamos { */
    bottom: 20px;
    pointer-events: all;
    opacity: 1;
}

body {
    font-family: 'GT-America', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    overflow-x: hidden;
}
@media (min-width: 1680px) {
    body {
        font-size: 19px;
        line-height: 1.3em;
    }
}
.img-fluid.force-width {
    width: 100% !important;
    height: auto;
}

form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0px;
}
    .fondo-1 form .form-control {
        border-bottom: 2px solid #43D62D !important;
    }
    .fondo-2 form .form-control {
        border-bottom: 2px solid #3EA6D9 !important;
    }
    .fondo-3 form .form-control {
        border-bottom: 2px solid #F36900 !important;
    }

    .fondo-1 .btn {
        color: #43D62D !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    .fondo-2 .btn {
        color: #3EA6D9 !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    .fondo-3 .btn {
        color: #F36900 !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .fondo-1 form a {
        color: #43D62D !important;
    }
    .fondo-2 form a {
        color: #3EA6D9 !important;
    }
    .fondo-3 form a {
        color: #F36900 !important;
    }
    

.titular-grande {
    line-height: 1.2em;
    font-size: 30px;
    font-weight: bold;
}
.expanded {
    font-stretch: expanded;
}
.texto-grande {
    font-stretch: expanded;
    line-height: 1.2em;
    font-size: 25px;
}
    .titular-grande.nombre {
        font-stretch: expanded;
        line-height: 1.2em;
        font-size: 45px;
    }
    .titular-grande.apellidos {
        font-stretch: expanded;
        line-height: 1em;
        font-size: 35px;
    }

    
    
.margen-slides {
    padding-bottom: 30px;
}
.numero {
    font-size: 60px;
    line-height: 1.4em;
    display: block;
}
    @media (min-width: 992px) {
        .titular-grande {
            line-height: 1.2em;
            font-size: 30px;
        }
        .titular-grande.xl {
            font-size: 50px;
            line-height: 1.2em;
        }
        .texto-grande {
            line-height: 1.2em;
            font-size: 38px;
        }
        .numero {
            font-size: 60px;
            line-height: 1.4em;
            display: block;
        }        
    }
    @media (min-width: 1680px) {
        .titular-grande {
            line-height: 1.2em;
            font-size: 40px;
        }
        .titular-grande.nombre {
            font-stretch: expanded;
            line-height: 1.2em;
            font-size: 65px;
        }
        .titular-grande.apellidos {
            line-height: 1em;
            margin-bottom: 40px;
            font-size: 40px;
        }
        .titular-grande.xl {
            font-size: 65px;
            line-height: 1.1em;
        }
        .texto-grande {
            font-stretch: expanded;
            line-height: 1.2em;
            font-size: 60px;
        }
        .numero {
            font-size: 110px;
            line-height: 1em;
            margin-top: 0;
            margin-bottom: 40px;
            display: block;
        }        
    }
    


.destacado {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1em;
}
    .destacado span {
        font-weight: normal;
    }
    @media (min-width: 992px) {
        #cabecera .destacado {
            font-size: 20px;
        }
    }
    @media (min-width: 1680px) {
        .destacado {
            font-weight: bold;
            font-size: 30px;
            line-height: 1.1em;
        }
    }
    .fondo-1 .destacado {
        color: #43D62D !important;
    }
    .fondo-2 .destacado {
        color: #3EA6D9 !important;
    }
    .fondo-3 .destacado {
        color: #F36900 !important;
    }


.fondo-gris {
    background-color: #eee;
}
.fondo-1 .fondo-color {
    background-color: #43D62D;
}
.fondo-2 .fondo-color {
    background-color: #3EA6D9;
}
.fondo-3 .fondo-color {
    background-color: #F36900;
}
.fondo-negro {
    background-color: black;
    color: white;
}
    .fondo-negro a {
        color: white;
    }
.fondo-1 .texto-color {
    color: #43D62D !important;
}
.fondo-2 .texto-color {
    color: #3EA6D9 !important;
}
.fondo-3 .texto-color {
    color: #F36900 !important;
}
    

#cabecera {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
    @media (min-width: 1680px) {
        #cabecera {
            font-size: 14px;
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }
    #cabecera h1 {
        margin: 0;
        padding: 0;
    }
    #cabecera .ico {
        display: inline-block;
        width: 20px;
        height: auto;
        right: 20px;
    }

#cabecera #logo img {
    transition: .3 all ease-in-out;
}
#cabecera #logo img#logo-con {
    display: block;
}
#cabecera #logo img#logo-sin {
    display: none;
}
#cabecera #logo.on img#logo-con {
    display: none;
}
#cabecera #logo.on img#logo-sin {
    display: block;
}
#cabecera #logo.on img {
    height: 25px;
    width: auto;
}
    /* @media (min-width: 992px) {
        #cabecera #logo.on {
            height: auto;
            width: auto;
        }                
    } */
    
    
#main {
    padding-top: 100px;
}
    @media (min-width: 992px) {
        #main {
            padding-top: 140px;
        }
    }
#cabecera,
#cabecera a {
    color: #999;
}
#slide-top {
    font-size:   1.8rem;
    line-height: 2rem;
    font-stretch: expanded;
}
.slide_invertido {
    margin: 20px 0;
}

    /* #slide-top .container {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    } */
    /* #slide-top .container .diapo {
        width: 100% !important;
        background-color: rgba(255, 0, 0, 0.2);  
    }
    #slide-top .container .diapo div {
        background-color: rgba(255, 255, 0, 0.2);
        display: inline-block;      
    } */
    @media (min-width: 576px) {
        
    }
    @media (min-width: 768px) {
        
    }
    @media (min-width: 992px) {
        .slide_invertido {
            margin: 0;
        }
        #slide-top {
            font-size:   3rem;
            line-height: 3rem;
            font-stretch: expanded;
        }
    }
    @media (min-width: 1200px) {
        #slide-top {
            font-size:   4rem;
            line-height: 4rem;
            font-stretch: expanded;
        }
    }
    @media (min-width: 1680px) {
        #slide-top {
            font-size:   6rem;
            line-height: 6rem;
            font-stretch: expanded;
        }
    }
 
/* 
    Menú hamburguesa
*/
    #control-menu {
        position: fixed;
        z-index:  1002;
        right:    20px;
        top:      20px;
    }
    #control-menu.on {
        top:      10px;        
    }
    #hamburguesa {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        margin: 10px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #hamburguesa span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        /* border-radius: 5px; */
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    #hamburguesa span:nth-child(1) {
        top: 0px;
    }
    
    #hamburguesa span:nth-child(2),#hamburguesa span:nth-child(3) {
        top: 10px;
    }
    
    #hamburguesa span:nth-child(4) {
        top: 20px;
    }
    
    #hamburguesa.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    #hamburguesa.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    #hamburguesa.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    #hamburguesa.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

#menu {
    position: fixed;
    top: 0;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: white;
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
}
#menu.on {
    left: 0px;
}
    #menu .contacto {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media (min-width: 992px) {
        #menu {
            font-size: 1rem;
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            height: auto;
            background-color: transparent;
            text-align: left;
        }
        #menu .contacto {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

/* #slide-top .container {
    border: 5px solid red;
}
#slide-top .row {
    border: 1px solid blue;
}
#slide-top .row div {
    border: 1px solid yellow;
}
 */
.slide, .slide_invertido, .diapo {
    width: 100%;
}
#slide-top .foto-03 {
    background: transparent url('../img/slide-top/03.jpg') no-repeat 50%;
    background-size: cover;
    min-height: 105px;
    height: 100%;
}
    #slide-top .diapo-2 .foto-03 {
        background: transparent url('../img/slide-top/2-03.jpg') no-repeat 50%;
        background-size: cover;
    }
    #slide-top .diapo-3 .foto-03 {
        background: transparent url('../img/slide-top/3-03.jpg') no-repeat 50%;
        background-size: cover;
    }
    @media (min-width: 992px) {
        #slide-top .foto-03 {
            min-height: 105px;
            height: 100%;
        }
    }
#slide-top .foto-02 {
    background: transparent url('../img/slide-top/02.jpg') no-repeat 50%;
    background-size: cover;
    min-height: 105px;
    height: 100%;
}
    #slide-top .diapo-2 .foto-02 {
        background: transparent url('../img/slide-top/2-02.jpg') no-repeat 50%;
        background-size: cover;
    }
    #slide-top .diapo-3 .foto-02 {
        background: transparent url('../img/slide-top/3-02.jpg') no-repeat 50%;
        background-size: cover;
    }
#slide-top .foto-01 {
    background: transparent url('../img/slide-top/01.jpg') no-repeat center top;
    background-size: cover;
    min-height: 105px;
    height: 100%;
}
    #slide-top .diapo-2 .foto-01 {
        background: transparent url('../img/slide-top/2-01.jpg') no-repeat center right;
        background-size: cover;
    }
    #slide-top .diapo-3 .foto-01 {
        background: transparent url('../img/slide-top/3-01.jpg') no-repeat 50%;
        background-size: cover;
    }
@media (min-width: 768px) {
    #slide-top .foto-01 {
        min-height: 105px;
    }
    #slide-top .foto-02 {
        min-height: 105px;
    }
    #slide-top .foto-03 {
        min-height: 105px;
    }
}


ul,
ol {
    margin-left: 0;
    padding-left: 20px;
}
ul li,
ol li {
    font-weight: bold;
    margin-bottom: 20px;
}
.fondo-1 ul li,
.fondo-1 ol li {
    color: #43D62D;
}
.fondo-2 ul li,
.fondo-2 ol li {
    color: #3EA6D9;
}
.fondo-3 ul li,
.fondo-3 ol li {
    color: #F36900;
}
ul li span,
ol li span {
    font-weight: normal;
    color: black;
}

.slideshow {
    width: 100%;
}
    .slideshow .row {
        width: 100%;
    }
        @media (min-width: 1200px) {
            .slideshow .row {
                width: 100%;
                display: flex !important;
            }
        }
    .slideshow .row div {
        display: inline-block;
    }
    .bullets {
        position: absolute;
        bottom: 0;
    }
    .bullets span {
        display: inline-block;
        content: none;
        width:         10px;
        height:        10px;
        border-radius: 10px;
        margin-right: 5px;
        font-size: 0px;
        background-color: #43D62D;
        cursor: pointer;
    }
    .bullets span {
        background-color: black;
    }
    .fondo-1 .bullets span.cycle-pager-active {
        background-color: #43D62D;
    }
    .fondo-2 .bullets span.cycle-pager-active {
        background-color: #3EA6D9;
    }
    .fondo-3 .bullets span.cycle-pager-active {
        background-color: #F36900;
    }

    

#goals-02 .numeros-blancos {
    font-size: 60px;
    line-height: 1.4em;
    display: block;
    font-stretch: expanded;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 10px;
}
    @media (min-width: 992px) {
        #goals-02 .numeros-blancos {
            font-size: 70px;
            line-height: 1.4em;
            display: block;
            font-stretch: expanded;
            border-bottom: 2px solid white;
            color: white;
            margin-bottom: 10px;
        }
        
    }
    @media (min-width: 992px) {
        #goals-02 .numeros-blancos {
            font-size: 130px;
            line-height: 1.4em;
            margin-bottom: 10px;
        }
        
    }



#pie .ico  {
    display: inline-block;
    width: 20px;
    height: auto;
    right: 10px;
}

